@import 'tailwindcss';
@import 'tw-animate-css';
@import '@/assets/fonts/fonts.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-main: 'Gotham Rounded', serif;
  --font-main-bold:var(--font-main-bold)
  --font-main-regular:var(--font-main-regular)
  --font-main-light:var(--font-main-light)
}

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 15%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 15%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 15%);
  --primary: hsl(173, 96%, 37%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 97%);
  --secondary-foreground: hsl(0, 0%, 20%);
  --muted: hsl(0, 0%, 97%);
  --muted-foreground: hsl(0, 0%, 55%);
  --accent: hsl(0, 0%, 97%);
  --accent-foreground: hsl(0, 0%, 20%);
  --destructive: hsl(355, 91%, 58%);
  --border: hsl(0, 0%, 92%);
  --input: hsl(0, 0%, 62%);
  --ring: hsl(0, 0%, 70%);
  --chart-1: hsl(41, 65%, 65%);
  --chart-2: hsl(185, 35%, 60%);
  --chart-3: hsl(227, 20%, 40%);
  --chart-4: hsl(84, 55%, 83%);
  --chart-5: hsl(70, 55%, 77%);
  --sidebar: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(0, 0%, 15%);
  --sidebar-primary: hsl(0, 0%, 20%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(0, 0%, 97%);
  --sidebar-accent-foreground: hsl(0, 0%, 20%);
  --sidebar-border: hsl(0, 0%, 92%);
  --sidebar-ring: hsl(0, 0%, 70%);
  --font-main-light: 300;
  --font-main-regular: 400;
  --font-main-bold: 600;
}

.dark {
  --background: hsl(0, 0%, 15%);
  --foreground: hsl(0, 0%, 98%);
  --card: hsl(0, 0%, 20%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(0, 0%, 20%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 92%);
  --primary-foreground: hsl(0, 0%, 20%);
  --secondary: hsl(0, 0%, 27%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(0, 0%, 27%);
  --muted-foreground: hsl(0, 0%, 70%);
  --accent: hsl(0, 0%, 27%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(355, 91%, 58%);
  --border: hsla(0, 0%, 100%, 0.1);
  --input: hsla(0, 0%, 100%, 0.15);
  --ring: hsl(0, 0%, 55%);
  --chart-1: hsl(264, 70%, 49%);
  --chart-2: hsl(162, 50%, 70%);
  --chart-3: hsl(70, 55%, 77%);
  --chart-4: hsl(304, 75%, 63%);
  --chart-5: hsl(16, 70%, 65%);
  --sidebar: hsl(0, 0%, 20%);
  --sidebar-foreground: hsl(0, 0%, 98%);
  --sidebar-primary: hsl(264, 70%, 49%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(0, 0%, 27%);
  --sidebar-accent-foreground: hsl(0, 0%, 98%);
  --sidebar-border: hsla(0, 0%, 100%, 0.1);
  --sidebar-ring: hsl(0, 0%, 55%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-main font-normal;
  }
}

body,
html {
  width: 100dvw;
  min-width: 960px;
  box-sizing: border-box;
  max-height: 100dvh;
  background: var(--color-slate-100);
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
